body {
    border: 0;
    background-color: black;
    color: white;
    width: 99vw;
    height: 98vh;
}

#images {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
}

#one {
    position: absolute;
    z-index: 0;
    left: 0;
    cursor: move;
}

#two {
    position: absolute;
    z-index: 2;
    left: 10px;
    top: 130px;
    cursor: move;
}

#three {
    position: absolute;
    right: 250px;
    bottom: 5px;
    z-index: 3;
}

#four {
    position: absolute;
    z-index: 4;
    right: 80px;
    bottom: 70px;
}

.startPiece {
    position: relative;
    z-index: 0;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    justify-self: center;
}

.hideItem {
    display: none;
}

.moveable {}