body {
    border: 0;
    background-color: black;
    color: white;
    width: 99vw;
    height: 98vh;
}

.resizable {
    resize: both;
    overflow: scroll;
    border: 1px solid black;
  }

#images {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
}

#one {
    position: absolute;
    z-index: 0;
    left: 0;
    cursor: move;
    resize: both;
    overflow: auto;
}

#two {
    position: absolute;
    z-index: 2;
    left: 10px;
    top: 130px;
    resize: both;
    cursor: move;
}

#three {
    position: absolute;
    right: 250px;
    bottom: 5px;
    resize: both;
    z-index: 3;
}

#four {
    position: absolute;
    z-index: 4;
    right: 80px;
    bottom: 70px;
}
#five {
    position: absolute;
    right: 150px;
    bottom: 5px;
    z-index: 5;
}
#six {
    position: absolute;
    right: 250px;
    bottom: 5px;
    z-index: 6;
}
#seven {
    position: absolute;
    right: 450px;
    bottom: 15px;
    z-index: 7;
}
#eight {
    position: absolute;
    right: 550px;
    bottom: 5px;
    z-index: 8;
}
#nine {
    position: absolute;
    right: 250px;
    bottom: 20px;
    z-index: 9;
}
#ten {
    position: absolute;
    right: 550px;
    bottom: 40px;
    z-index: 10;

}
#eleven {
    position: absolute;
    right: 150px;
    bottom: 2px;
    z-index: 11;

}
#twelve {
    position: absolute;
    right: 50px;
    bottom: 10px;
    z-index: 12;

}
#thirteen {
    position: absolute;
    right: 100px;
    bottom: 70px;
    z-index: 13;

}
#fourteen {
    position: absolute;
    right: 80px;
    bottom: 100px;
    z-index: 14;

}
#fifteen {
    position: absolute;
    right: 180px;
    bottom: 100px;
    z-index: 15;

}
#sixteen {
    position: absolute;
    right: 380px;
    bottom: 10px;
    z-index: 16;

}
#seventeen {
    position: absolute;
    right: 180px;
    bottom: 100px;
    z-index: 17;

}
#eighteen {
    position: absolute;
    right: 80px;
    bottom: 600px;
    z-index: 18;

}
#nineteen {
    position: absolute;
    right: 380px;
    bottom: 200px;
    z-index: 19;

}
#video1 {
    z-index: 30;
    position: absolute;
}
#video2 {
    z-index: 31;
    position: absolute;
}
#video3 {
    z-index: 32;
    position: absolute;
}
.holder {
    height: 100vh;
    width: 100vw;
    display: flex;
}
#finalgif {
    max-height: 800px;
    align-self: center;
    margin-left: auto;
    margin-right: auto;

}
.startPiece {
    position: relative;
    z-index: 0;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    justify-self: center;
}

.hideItem {
    display: none;
}

.header {
    margin-left: auto;
    margin-right: auto;
    top: 30px;
	position: relative;
	overflow: visible;
	width: 1112px;
	height: 90px;
	text-align: center;
	font-family: Arial;
	font-style: italic;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
    letter-spacing: 0.5px;
}
.introSubtext {
    left: 15px;
    top: 30px;
    width: 5px;
	height: 90px;
    color: rgba(255,255,255,1);
    font-family: Arial;
    font-size: 20px;
    width: 1112px;
	height: 90px;

}

.background {
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index:49;
}

.Forward {
    color: rgba(221,200,86,1);
    font-family: Arial;
    font-style: italic;
    font-weight: bold;
    position: absolute;
    font-size: 70px;
    letter-spacing: 0.2px;
    right: 380px;
    top: 401px;
    z-index: 50;
    background-color: black;
    
}
.Backward {
    color: rgba(221,200,86,1);
    font-family: Arial;
    font-style: italic;
    font-weight: bold;
    position: absolute;
    font-size: 70px;
    letter-spacing: 0.2px;
    left: 380px;
    top: 401px;
    z-index: 50;
    background-color: black;
   
}
.moveable {}

